<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>web03</display-name>

	<!-- 서블릿을 정의 -->
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>lesson03.servlets.HelloWorld</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Hello2</servlet-name>
		<servlet-class>lesson03.servlets.HelloWorld2</servlet-class>
	</servlet>

	<!-- 서블릿과 URL을 연결 -->
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/okok/Hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hello2</servlet-name>
		<url-pattern>/hi</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>